/* Navbar Styling */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 10px 20px;
}

.navbar-logo {
    font-size: 1.5em;
    color: var(--clr-accent);
}

.navbar-links {
    display: flex;
}

.navbar a {
    color: var(--clr-light);
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--clr-accent);
}

.navbar a.active {
    color: var(--clr-accent);
}